@font-face {
    font-family: Champagne;
    src: url(../fonts/Champagne.ttf);
}

.columns {
padding-left: 0;
padding-right: 0;
}

.current-page {
	text-decoration: underline;
}

li {
	display: inline;
	color: white;
	font-size: 20px;
	font-family: Champagne;	
}

.main-image-01 {
width: 

}

.move-me {
	width: 60px;
height: 60px;
background-color: red;
margin-left: 140px;
}

.navbar-black {
	width: 100%;
	height: 60px;
	z-index: 1;
	background-color: black;
	opacity: 0.9;
	position: fixed;
}

.navbar-logo {
	width: 170px;
	z-index: 1;
	position: fixed;
}

.navbar-right {
	margin-top: 20px;
	z-index: 1;
	width: 600px;
	margin-left:  450px;
	position: fixed;
}

.navbar-right > li {
padding-right: 40px;
}

.page-up-button {
width: 60px;
height: 60px;
background-color: pink;
margin-left: 940px;
position: fixed;
display: none;
}

.placeholder01 {
/*background-color:  red;*/
width: 100%;
height: 100px;	
}


.image-02 {
	/*width:100%;*/
}

.image-03 {
	display:none;
/*position: relative;*/
/*margin-top: -324px;*/
}

.section-1 {
	margin-top: 60px;
padding-bottom: 30px;
}

.section-2 {
position: absolute;

}

.section-2-text-area {
padding-left: 20px;
}

.section-3 {
padding-left: 20px;
position: absolute;

}

.text-01 {
	text-align: justify;
	}
.text-02 {
	text-align: justify;
opacity: 0;

}


#wrapper {
/*border: 1px dotted red;*/
width: 1000px;
padding: 0;
height: 2000px;
margin: 0 auto;
}


/*********** End of   *************/


/*IPAD*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, ^^ IPad ^^ */

li {
font-size: 14px;
padding-right: 
}

.navbar-right {
width: 600px;
margin-left:  230px;
position: fixed;
}

#wrapper {
	width: 600px;
	}

.section-3 > p {
font-size: 12px;	
}

.section-3 {
padding-left: 0px;
position: absolute;
display: none;

}


.image-02 {
	width:100%;
}

.image-03 {
	display:none;
/*position: relative;*/
/*margin-top: -324px;*/
}


}

/*********** End of   *************/



/*IPHONE*/
@media only screen and (max-width:40em) { /* Max Width 640, Made for iphone.*/

li {
font-size: 14px;
padding-right: 
}

.navbar-logo {
width: 100px;
}

.navbar-right {
display: none;
}

.navbar-black {
width: 100%;
margin: 0;
height: 40px;
}

#wrapper {
	width: 300px;
	}

}
/*********** End of   *************/
