


body {
  /*font-family: helvetica, arial, sans serif;*/
  font-family: "Times New Roman", Times, serif;
}

h1 {
color: black;
font-size: 24px;
font-weight: normal; 

}

ul {
  font-size: 18px;

  padding-top: 10px;
  list-style-type:  none;
  padding-left: 0px;

}

li {
  opacity: 0;
}

#all {
  width: 1024px;
  height: 768px;
  background-color: transparent;

  /*opacity: 0;*/
  display: none;
  position: absolute;
  z-index: 6;
}

#blackFade {
  width: 1024px;
  height: 768px;
  background-color: black;
  pointer-events: none;
  /*opacity: 0;*/
  display: none;
  position: absolute;
  z-index: 1;
}

#beeKing01 {
  position: absolute;
  left:793px;
  top:437px;
}

#beeRose01 {
  position: absolute;
  left:475px;
  top:343px;
}
#beeTitle {
  top: 310px;
  left: 30px;
}


#beeBee01 {
  position: absolute;
  left: 525px;
  top: 370px;
}

#help01 {
  width: 70px;
  height: 70px;
  opacity: 0;
pointer-events: none;
  position: absolute;
  left: 600px;
  top: 250;
}

#beeWhiteFade {
display: none;
background-color: white;
position: absolute;
width: 1024px;
opacity: 0;
height: 768px;
z-index: 5;
}

.beeText_01 {
  position: absolute;
  top: 340px;
  z-index: 2;
    left: 30px;
}



#bookTitle {
  font-size: 22px;
  top: 50px;
  left: 310px;
  position: absolute;
}

#bookHands {
  position: absolute;
  left: 472px;
  top: 352px;
  z-index: 3;
}

#theBook {
position: absolute;
/*display: none;*/
left: 470px;
top: 320px;
z-index: 3;

}

#bookText {
  font-size: 16px;
  position: absolute;
  top: 80px;
  /*opacity: 1;*/
  z-index: 3;
  
    left: 310px;
}

#bookDot {
  width:5px;
  height:5px;
  background-color: black;
  position: absolute;
  top: 112px;
  left: 300px;
  display: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 

}


#content {

  overflow: hidden;
  height: 100px;
  width: 700;
}


#dot {
  width:9px;
  height:9px;
  background-color: black;
  position: absolute;
  top: 303px;
  left: 20px;
  display: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 

}

#dot_bee {
  width:8px;
  height:8px;
  background-color: black;
  position: absolute;
  top: 375px;
  left: 17px;
  display: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

#dot_rain {
  width:8px;
  height:8px;
  background-color: black;
  position: absolute;
  top: 308px;
  left: 17px;
  display: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
}

#whiteFader {
display: none;
background-color: white;
position: absolute;
width: 1024px;
opacity: 0;
height: 768px;
z-index: 5;
}


#kingShader {
  left: 100px;
  top: 504px;
  width: 924px;
  height: 263px;
  position: absolute;
  background-color: black;
    pointer-events: none;
    opacity: 0;
  z-index: 5;
}

#kingBook01 {
position: absolute;
z-index: 5;
}

#kingBook02 {
  /*opacity: .6;*/
  position: absolute;
}

#marker_01 {
  width: 200px;
  height:100px;
  background-color: transparent;
  position: absolute;
  display: inline;
  top: 0px;
  
  left: 654px;
}

#canvas {position: absolute;
  width: 1024px;
  height: 768px;
}

.punct
{
background-color:blue;
position:absolute;
width:2px;
height:6px;
    
    z-index: 5;
}

  body{ padding: 0; margin: 0; }

      .pep      { 
        /*width: 100px; */
        /*height: 100px; */
        /*background: rgb(243, 200, 200); */
        /*color: white; */
        /*opacity: 0.8;*/
      }

#RainKing {
  position: absolute;
  left: 703px;
  top: 372px;
  z-index: 2;
}


#RainGround {
  position: absolute;
  left: 657px;
  top: 684px;
}

#RainCloud {
  position: absolute;

  z-index: 4;
}

#rainWhiteFade {
display: none;
background-color: white;
position: absolute;
width: 1024px;
opacity: 0;
height: 768px;
z-index: 5;
}

#RainRain {
  position: absolute;
  display: none;
  /*opacity: 0;*/
  left: 650px;
  z-index: 3;
}

#RainTitle {
  position: absolute;
  top: 240px;
  left: 40px;
}

#RainText {

  opacity: 1;
  position: absolute;
  top: 270px;
  z-index: 2;
    left: 40px;
}
/*
#rainBlackFader {
  width: 1024px;
  height: 768px;
  pointer-events:none;
  opacity: 0;
  position: absolute;
  background-color: #3e3e3e;
  z-index: 3;
}*/

#RainText > li {
   padding-top: 3px;
  /*opacity: 1;*/
}

#RainText > #gap {
  padding-top: 14px;
}

#starTitle {
  top: 240px;
  left: 40px;
}

.starText_01 {
  position: absolute;
  top: 270px;
  z-index: 2;
    left: 40px;
}

.starText_01 > li:nth-child(1) {
  /*color: red;*/
  opacity: 1;
}



#sphere {
  position: absolute; 
  width: 20px;
  height: 20px;
  /*top*/
/*margin-left: 860px;*/
  /*border-radius: 50px;*/
  /*-webkit-radius: 50px;*/
  background-color: red;
}

#troll {
  width: 250px;
  display: none;
  /*height:300px;*/
  /*background-color: black;*/
  position: absolute;
  /*margin-top: -100px;*/
  margin-top: -35px;
  left: 780px;
}


.x        { 
  position: absolute; 
  top: 40px; 
  left: 10px; 
  background: rgb(120, 200, 200); 
  opacity: 0.8;
          }


/** king and the star **/
#starSky_01 {
  width: 1024px;
  height: 120px;
  position: absolute;
  display:  inline;
}

#starSky_02 {
  position: absolute;
  display:  none;
}


#starStar_01 {
  position: absolute;
  display:  inline;
  left: 20px;
  top:10px;
}

#starStarBlur {
  position: absolute;
  display: inline;
  opacity: 0;
  left: 658px;
  top: 0px;
}


#starStarBlink {
  position: absolute;
  display: none;
  /*opacity: 0;*/
  left: 658px;
  top: 20px;
}

#dot {
  width:9px;
  height:9px;
  background-color: black;
  position: absolute;
  top: 303px;
  left: 20px;
  display: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 

}



#starKing_01 {
position: absolute;
left: 793px;
top:502px;
z-index: 4;
}

#starKing_02 {
position: absolute;
left: 650px;
top:502px;
z-index: 4;
}

#starKing_Head {
position: absolute;
left: 757px;
top:470px;
z-index: 4;
}



#starGround {
  position: absolute;
  left: 154px;
  top:706px;
  z-index: 4;
}


@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, ^^ IPad ^^ */



}
@media only screen and (max-width:40em) {

}
