@font-face {
    font-family: Champagne;
    src: url(../fonts/Champagne.ttf);
}

#centre {
width: 1000px;
position: fixed;
left: 50%;
margin: 0 0 0 -500px;

opacity: 0;

height:60px;
/*background-color: black;*/
/*border: 1px dashed red;*/
z-index: 2;
}

.columns {
padding-left: 0;
padding-right: 0;
}

.current-page {
	text-decoration: underline;
}

.fixed-nav {
position: fixed;

}

.help01-touch {
width: 60px;
pointer-events:none;
position: absolute;
display: block;
margin-top: 250px;
margin-left: -80px;

}


li {
	display: inline;
	color: white;
	font-size: 20px;
	font-family: Champagne;	
}

.main-image-01 {
width: 100%;
height: 100%;

}

#menu-cover {
background-color: black;
position: fixed;
opacity: 1;
/*display: none;*/

width: 100%;
height: 120%;
z-index: 4;
}



.move-me {
	width: 60px;
height: 60px;
background-color: red;
margin-left: 140px;
}

.navbar-black {
	width: 100%;
	height: 60px;
	z-index: 1;
	background-color: black;
	opacity: 1;
	/*position: fixed;*/
}

.navbar-black-fixed {
	width: 100%;
	height: 60px;
	z-index: 2;
	background-color: black;
	opacity: 0;
	position: fixed;
	/*display: none*/
}

.navbar-logo {
	width: 170px;
	z-index: 1;
	/*position: fixed;*/
}

.navbar-right {
	margin-top: -40px;
	z-index: 1;
	width: 600px;
	margin-left:  450px;
	/*position: fixed;*/
}

.navbar-right > li {
padding-right: 40px;
}

.nav-wrapper {
	margin-top: -60px;
	height: 60px;
/*background-color: green;*/
}

p {
	font-family: sans-serif;
}

.page-up-button {
width: 60px;
height: 60px;
background-color: pink;
margin-left: 940px;
position: fixed;
display: none;
}



.image-02 {
	/*width:100%;*/
}

.image-03 {
	display:none;
/*position: relative;*/
/*margin-top: -324px;*/
}


.section-2 {

padding-top: 30px;

}

.section-2-text-area {
padding-left: 20px;
}

.section-3 {
padding-top: 30px;
padding-left: 20px;
position: absolute;

}

.text-01 {
	text-align: justify;
	}
.text-02 {
	text-align: justify;
opacity: 0;

}




#wrapper-01 {
/*border: 1px dotted red;*/
width: 100%;
padding: 0;
height: 620px;
margin: 0 auto;
}

#wrapper-02 {
/*border: 1px dotted red;*/
width: 1000px;
padding: 0;
height: 2000px;
margin: 0 auto;
}




/*********** End of   *************/


/*IPAD*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, ^^ IPad ^^ */

li {
font-size: 14px;
/*padding-right: */
}

#centre {
width: 600px;
position: fixed;
left: 50%;
margin: 0 0 0 -380px;
/*opacity: 0;*/
height:60px;
/*background-color: black;*/
/*border: 1px dashed red;*/
z-index: 2;
}

.help01-touch {
width: 60px;
/*pointer-events:none;*/
display: block;
position: absolute;
margin-top: -105px;
margin-left: -5px;
}

.image-02 {
	width:100%;
}

.image-03 {
	width:100%;
	display:none;
/*position: relative;*/
/*margin-top: -324px;*/
}


.navbar-right {
width: 600px;
margin-left:  230px;
/*position: fixed;*/
}

.nav-wrapper {
	margin-left: -10px;
}

#wrapper-02 {
	width: 600px;
	}

#tilt-scroll {
	margin-top: 290px;
	margin-left: 650px;
	width:220px;
	position: absolute;
	opacity: 0.7;
}

#close-tab-01 {
	margin-top: 345px;
	margin-left: 500px;
	width:40px;
	opacity: 0.7;
	position: absolute;
}

#go-to-top-scroll {
	margin-top: 260px;
	margin-left: 120px;
	width:220px;
	opacity: 0.7;
	position: absolute;
}


 p {
font-size: 12px;	
}

.section-2 {
	/*padding-top:  20px;*/
}

.section-3 {
	/*padding-top:  20px;*/
padding-left: 0px;
position: absolute;
}

.text-02 {
	display: none;
}

#wrapper-01 {
width: 100%;
padding: 0;
height: 520px;
margin: 0 auto;
}


}

/*********** End of   *************/



/*IPHONE*/
@media only screen and (max-width:40em) { /* Max Width 640, Made for iphone.*/

	#centre {
width: 320px;
position: fixed;
left: 50%;
margin: 0 0 0 -160px;
opacity: 1;
}

.placeholder01 {
/*background-color:  red;*/
width: 100%;
height: 100px;	
margin-top: -60px;
}



.help01-touch {
width: 40px;
pointer-events:none;
position: absolute;
display: block;
margin-top: -45px;
margin-left: -15px;
}

#tilt-scroll {
	margin-top: 270px;
	margin-left: 200px;
	width:90px;
	position: absolute;
	opacity: 0.7;
}

#close-tab-01 {
	margin-top: 305px;
	margin-left: 140px;
	width:25px;
	opacity: 0.7;
	position: absolute;
}

#go-to-top-scroll {
	margin-top: 260px;
	margin-left: 20px;
	width:90px;
	opacity: 0.7;
	position: absolute;
}


li {
font-size: 14px;
padding-right: 
}

 p {
font-size: 12px;	
}

.nav-wrapper {
display: none;	
}

.navbar-black {
display: none;
}

.navbar-right {
display: none;
}

.navbar-logo {
width: 100px;
margin-top: -40px;
}

.navbar-black-fixed {
display: block;
opacity: 1;
margin-top: -40px;
position: fixed;
height: 40px;
}

#wrapper-01 {
width: 100%;
padding-bottom: 30px;
height: 250px;
margin: 0 auto;
}

#wrapper-02 {
	width: 300px;
	}

}
/*********** End of   *************/
