body {
  font-family: helvetica, arial, sans serif;

}

h1 {
color: red;

}

#content {
  overflow: hidden;
  height: 100%;
  width: 100%;
}



#sphere {
  position: absolute; 
  width: 20px;
  height: 20px;
  /*top*/
margin-left: 860px;
  /*border-radius: 50px;*/
  /*-webkit-radius: 50px;*/
  background-color: red;
}

#in-zone {
  width: 150px;
  height:300px;
  background-color: black;
  position: absolute;
  /*margin-top: -100px;*/
  margin-top: -65px;
  left: 860px;
}
#troll {
  width: 250px;
  display: none;
  /*height:300px;*/
  /*background-color: black;*/
  position: absolute;
  /*margin-top: -100px;*/
  margin-top: -35px;
  left: 780px;
}



/*#content { display:block; }
@media only screen and (orientation:portrait){
  #content {  
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:landscape){
  #content {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {  /* min-width 641px and max-width 1024px, ^^ IPad ^^ */



}
@media only screen and (max-width:40em) {


#sphere {

/*margin-left: 0px;

}


#troll {

  left: 380px;
}
#in-zone {

  left: 200px;
}
*/

}

