#joshy01 {

	width: 200px;
	
}

.para01 {
	background:url(../images/Joshyd_01.png);
	left:50%;
	width: 70px;
	height: 200px;
	margin-left: 100px;
	margin-top: -100px;
	/*margin-left: -400px;*/
	position: fixed;
}

body {

	height: 3000px;
}